* {
    font-family: "Courier New", Courier, monospace;
  }


h1{
    text-align: center;
  }

body{
background-color: rgb(234, 228, 228);

  }

  /* selector{
Margenes
ARRIBA-DERECHA-ABAJO-IZQUIERDA
margin: 20px 50px 20px 50px;

ARRIBA ANBAJO DERECHA E IZQUIERDA
margin:20px, 50px;

TODOS

margin:50px;
o
margin-left;
margin-top;
margin-bottom;
margin-right;

Igual para el padding

  } */



